[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #F56300;
    --md-accent-fg-color:        #F56300;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #F56300;
    --md-accent-fg-color:        #FFFFFF;
}
